* {
    text-align: center;
}
nav {
    background-color: #2b2a2a;
    color: white;
    font-size: small;
    padding-bottom: 1px;
}

.nav2{
    background-color: lightgrey;
    margin:auto;
}

.container {
    display: grid;
    height: 400vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr 1fr 1fr 1fr;
    grid-template-areas: 
      "a a"
      "b b"
      "c c"
      "d e"
      "f g"
      "h i";
    grid-gap: 1%;
  }

.a {
    grid-area: a;
    background-color: #fbfbfd00;
  }
  
.b {
    grid-area: b;
    
  }
  
.c {
    grid-area: c;
  }
  
.d {
    grid-area: d;
    
  }
  
.e {
    grid-area: e;
  }
  
.f {
    grid-area: f;
  }

.g {
    grid-area: g;
  }
.h {
    grid-area: h;
  }

.i {
    grid-area: i;
  }

  .watch {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }

  .iphone-pro {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }


  .pro {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }

.air {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}